:root {
  /* Primary Colors */
  /* (active input border) */
  --Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);

  /* (input errors) */
  --Red: hsl(0, 100%, 66%);

  /* Neutral Colors */
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);

  /* Google Font (500) */
  --Google-Font: "Space Grotesk", sans-serif;
}

/* Feel free to remove these styles or customise in your own stylesheet 👍 */
/* .attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
} */

* {
  margin: 0;
  box-sizing: border-box;
}

::selection {
  color: hsl(197, 85%, 42%);
  background: #e5f506a4;
}

body {
  overflow: hidden;
  display: flex;
  font-family: var(--Google-Font);
  font-size: 18px;
}

.card__icon {
  background-image: url(images/card-logo.svg);
  background-repeat: no-repeat;
  background-size: 70px;
  width: 6rem;
  height: 4rem;
  margin-top: 30px;
  margin-left: 30px;
}

.front__card {
  position: absolute;
  width: 25rem;
  aspect-ratio: 16/9;
  background-image: url(images/bg-card-front.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(50%, 100%);
  border-radius: 7px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.185);
}

.back__card {
  position: absolute;
  width: 25rem;
  aspect-ratio: 16/9;
  background-image: url(images/bg-card-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.185);
  transform: translate(70%, 220%);
}

.moble__bg__image {
  height: 100vh;
}

.card__info {
  align-self: center;
  margin-inline: auto;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card__info__flex {
  color: var(--White);
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 100;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-inline: 25px;
}

.exp__date {
  display: flex;
  gap: 1rem;
}

input:focus::placeholder {
  color: transparent;
}

input {
  padding: 12px;
  font-family: var(--Google-Font);
  letter-spacing: 1px;
  color: var(--Dark-grayish-violet);
  outline: none;
}

.input__name,
.input__card {
  width: 21.25rem;
  height: 2.5rem;
  margin-top: 7px;
  margin-bottom: 1.875rem;
  border: 1px solid hsla(279, 6%, 55%, 0.425);
  border-radius: 7px;
}

input:focus {
  border: 2px solid;
  border-radius: 7px;
  color: hsla(249, 99%, 64%, 0.514);
  background-color: #bc44e01a;
  /* border-image: linear-gradient(
    to right,
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  ); */
  border-image-slice: 1;
}

.input__month,
.input__year {
  width: 4.375rem;
  height: 2.5rem;
  margin-top: 7px;
  border: 1px solid hsl(279, 6%, 55%, 0.425);
  border-radius: 7px;
}

.input__cvc {
  width: 10.625rem;
  height: 2.5rem;
  margin-top: 7px;
  border: 1px solid hsl(279, 6%, 55%, 0.425);
  border-radius: 7px;
}

.redError {
  border: 1px solid red;
}

.exp__details {
  display: flex;
  gap: 3.2rem;
}

.confirm__btn {
  cursor: pointer;
  margin-top: 2.5rem;
  width: 100%;
  height: 3.125rem;
  border: none;
  background-color: var(--Very-dark-violet);
  color: var(--White);
  border-radius: 7px;
  font-family: var(--Google-Font);
  font-size: 1rem;
}

.card__number {
  color: var(--White);
  font-size: 1.7rem;
  letter-spacing: 1px;
  display: flex;
  justify-content: left;
  margin-inline: 25px;
  transform: translate(0%, 100%);
}

.cvc__number {
  color: var(--White);
  transform: translate(77%, 415%);
  letter-spacing: 1px;
}

.blank__class {
  margin-top: -20px;
  margin-bottom: 20px;
  text-transform: none;
  color: var(--Red);
  display: none;
  font-size: 11px;
  letter-spacing: normal;
}

.exp__error {
  margin-top: 10px;
}

.blank__error {
  display: flex;
  gap: 100px;
}

@media all and (max-width: 40.625rem) {
  body {
    display: flex;
    flex-direction: column;
  }

  .moble__bg__image {
    min-width: 100%;
    height: 15.625rem;
  }

  .front__card {
    max-width: 17rem;
    transform: translate(10%, 105%);
    box-shadow: none;
    z-index: 1;
  }

  .back__card {
    max-width: 17rem;
    transform: translate(30%, 48.5%);
  }

  .card__info {
    margin-top: 100px;
  }

  .card__info__flex {
    font-size: 0.7rem;
    margin-top: 15px;
  }

  .cvc__number {
    font-size: 0.7rem;
    transform: translate(80%, 480%);
  }

  .card__number {
    font-size: 1rem;
    transform: translate(0%, 0%);
  }

  .card__icon {
    margin-top: 20px;
    margin-left: 20px;
    background-size: 50px;
  }
}
